<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>XMCityList.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D5799F871E95D8E90063E10C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5799FA01E95D8E90063E10C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5799FAB1E95D8E90063E10C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
